@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --bar-clr: #8481c6;
  --bar-hover-clr: #595696;
  --hover-clr: #8481c6;
  --bg-clr: #1f1b4d;
  --primary-clr: #f0f0f0;
}

@-webkit-keyframes logoSU {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(24%);
            transform: translateX(24%);
  }
}

@keyframes logoSU {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(24%);
            transform: translateX(24%);
  }
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(1em);
            transform: translateY(1em);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(1em);
            transform: translateY(1em);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  50% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  50% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

@-webkit-keyframes credits1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes credits1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes credits2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes credits2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes cookies {
  from {
    -webkit-transform: translateY(-20em);
            transform: translateY(-20em);
  }
  to {
    -webkit-transform: translateY(2em);
            transform: translateY(2em);
  }
}

@keyframes cookies {
  from {
    -webkit-transform: translateY(-20em);
            transform: translateY(-20em);
  }
  to {
    -webkit-transform: translateY(2em);
            transform: translateY(2em);
  }
}

@-webkit-keyframes cookies2 {
  to {
    -webkit-transform: translateY(-20em);
            transform: translateY(-20em);
  }
}

@keyframes cookies2 {
  to {
    -webkit-transform: translateY(-20em);
            transform: translateY(-20em);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bar-clr);
  border-radius: 15px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--bar-hover-clr);
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.menuClip {
  position: absolute;
  left: 0;
  top: 0;
}

.menuClip .star {
  -webkit-transform: scale(0) translate(1%, 0);
          transform: scale(0) translate(1%, 0);
}

.cookies {
  height: 6em;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(2em);
          transform: translateY(2em);
  z-index: 50;
  -webkit-animation: cookies 0.8s cubic-bezier(0.8, -0.5, 0.2, 1.4) forwards;
          animation: cookies 0.8s cubic-bezier(0.8, -0.5, 0.2, 1.4) forwards;
}

.cookies.active {
  -webkit-animation: cookies2 0.8s cubic-bezier(0.8, -0.5, 0.2, 1.4) forwards;
          animation: cookies2 0.8s cubic-bezier(0.8, -0.5, 0.2, 1.4) forwards;
  pointer-events: none;
}

.cookies .saveDialog {
  width: 40%;
  height: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 0 0 #c0c0c0;
          box-shadow: 0 10px 0 0 #c0c0c0;
  border-radius: 100vh;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  position: relative;
  -webkit-transition: 0.5s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: 0.5s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cookies .saveDialog .closeDialog {
  width: 4em;
  height: 2em;
  border-radius: 100vh;
  background-color: #ffffff;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 5px 0 0 #c0c0c0;
          box-shadow: 0 5px 0 0 #c0c0c0;
  -ms-grid-row-align: center;
      align-self: center;
  right: 0;
  bottom: -1em;
  position: absolute;
  font-size: 1.2em;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.cookies .saveDialog .closeDialog:hover {
  cursor: pointer;
}

.cookies .saveDialog .msg1 {
  font-weight: 600;
}

.cookies .saveDialog .msg2 {
  font-weight: 800;
}

.cookies .saveDialog .yesnoT {
  width: 10em;
  height: 4em;
  position: absolute;
  bottom: -3em;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 100vh;
  padding: 0.5em 1em;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 0 0 #c0c0c0;
          box-shadow: 0 10px 0 0 #c0c0c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cookies .saveDialog .yesnoT .toggle {
  width: 5em;
  height: 2.5em;
  border-radius: 100vh;
  background-color: #1f1b4d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 1em;
  position: relative;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.cookies .saveDialog .yesnoT .toggle:hover {
  cursor: pointer;
}

.cookies .saveDialog .yesnoT .toggle i {
  color: #f0f0f0;
}

.cookies .saveDialog .yesnoT .toggle .circle {
  position: absolute;
  left: 0.3em;
  -ms-flex-item-align: center;
      align-self: center;
  height: 80%;
  aspect-ratio: 1 / 1;
  background-color: #f0f0f0;
  border-radius: 50%;
  -webkit-transition: 0.4s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: 0.4s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cookies .saveDialog .yesnoT .toggle .circle .fa-music {
  color: #494298;
}

.cookies .saveDialog .yesnoT .toggle.active {
  background-color: #1ea234;
}

.cookies .saveDialog .yesnoT .toggle.active .circle {
  left: initial;
  -webkit-transform: translateX(87%);
          transform: translateX(87%);
}

.cookies .saveDialog .yesnoT .toggle.active .circle .fa-music {
  color: #1ea234;
}

.cookies .saveDialog .yesno {
  display: none;
}

.header {
  height: 6em;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 50;
  pointer-events: none;
}

.header .fa-bars {
  color: var(--primary-clr);
  -webkit-transform: translate(0.9em, 0.9em);
          transform: translate(0.9em, 0.9em);
  font-size: 1.7em;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  position: absolute;
  z-index: 21;
  pointer-events: auto;
}

.header .fa-bars.active {
  opacity: 0;
  visibility: 0;
}

.header .fa-bars:hover {
  color: var(--hover-clr);
  cursor: pointer;
}

.header .fa-times {
  position: absolute;
  font-size: 1.9em;
  color: #f0f0f0;
  -webkit-transform: translate(0.9em, 0.8em);
          transform: translate(0.9em, 0.8em);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 21;
  opacity: 0;
  visibility: 0;
  pointer-events: none;
}

.header .fa-times.active {
  opacity: 1;
  visibility: 1;
}

.header .fa-times:hover {
  color: var(--hover-clr);
  cursor: pointer;
}

.header .menu {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-clr);
  position: fixed;
  z-index: 20;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-clip-path: url("#clipPath");
          clip-path: url("#clipPath");
  display: -ms-grid;
  display: grid;
  place-items: center;
  pointer-events: auto;
}

.header .menu ul {
  list-style-type: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  pointer-events: auto;
}

.header .menu ul li a {
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: #f0f0f0;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  text-transform: uppercase;
  pointer-events: auto;
}

.header .menu ul li a:hover {
  color: var(--hover-clr);
}

.header .menu ul li a i {
  font-size: 1em;
}

.header .menu .toggleC {
  width: 100%;
  height: 6em;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu .toggleC .yesnoM {
  display: none;
}

.header .menu .toggleC .toggleM {
  width: 5em;
  height: 2.5em;
  border-radius: 100vh;
  background-color: #49429880;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 1em;
  position: relative;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.header .menu .toggleC .toggleM.active {
  background-color: #1ea234;
}

.header .menu .toggleC .toggleM.active .circle {
  left: initial;
  -webkit-transform: translateX(87%);
          transform: translateX(87%);
}

.header .menu .toggleC .toggleM:hover {
  cursor: pointer;
}

.header .menu .toggleC .toggleM i {
  color: #f0f0f0;
}

.header .menu .toggleC .toggleM .fa-timess::before {
  content: '\f00d';
}

.header .menu .toggleC .toggleM .circle {
  position: absolute;
  left: 0.3em;
  -ms-flex-item-align: center;
      align-self: center;
  height: 80%;
  aspect-ratio: 1 / 1;
  background-color: #f0f0f0;
  border-radius: 50%;
  -webkit-transition: 0.4s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transition: 0.4s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu .toggleC .toggleM .circle .fa-music {
  color: #494298;
}

.header .menu .toggleC .toggleM.active {
  background-color: #1ea234;
}

.header .menu .toggleC .toggleM.active .circle {
  left: initial;
  -webkit-transform: translateX(87%);
          transform: translateX(87%);
}

.header .menu .toggleC .toggleM.active .circle .fa-music {
  color: #1ea234;
}

@media (max-width: 700px) {
  .cookies .saveDialog {
    width: 80%;
  }
}

:root {
  scroll-behavior: smooth;
  --bg-clr: #e887ba;
  --hover-clr: #b64ba8;
  --primary-clr: #e887ba;
}

.spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  background-color: #d573c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spinner .spinIcon {
  width: auto;
  height: 20%;
  -webkit-animation: spin 3s ease-out infinite forwards;
          animation: spin 3s ease-out infinite forwards;
}

.containerP {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow-x: hidden;
  overflow-y: auto;
}

.containerP .container1 {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containerP .container1 video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.containerP .container1 .suGLogo {
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 10;
}

.containerP .container1 a {
  position: absolute;
  bottom: 5em;
  -webkit-animation: arrow 2s ease-in-out infinite forwards;
          animation: arrow 2s ease-in-out infinite forwards;
}

.containerP .container1 a .fa-chevron-down {
  font-size: 2.5em;
  color: #e887ba;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.containerP .container1 a .fa-chevron-down:hover {
  color: #b64ba8;
  cursor: pointer;
}

.containerP .container2 {
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  width: 100%;
  padding: 2em 1em;
  background-color: #8c4863;
}

.containerP .container2 h2 {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 1.5em;
  font-size: clamp(2em, calc(-0.875em + 8.333vw), 4em);
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #f0f0f0;
}

.containerP .container2 .games-grid {
  min-height: 70vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  gap: 2em 1em;
}

.containerP .container2 .games-grid .game {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 21%;
  position: relative;
  overflow: hidden;
}

.containerP .container2 .games-grid .game:hover .cover {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.containerP .container2 .games-grid .game:hover .buttons {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.containerP .container2 .games-grid .game .cover {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.containerP .container2 .games-grid .game .cover img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.containerP .container2 .games-grid .game .buttons {
  width: 100%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: clamp(2em, calc(-0.575em + 8.333vw), 3em);
  border-radius: 6.5em 6.5em 0 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  position: absolute;
  background-color: #e887ba;
}

.containerP .container2 .games-grid .game .buttons .btn-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-clip-path: circle(0% at 25% 50%);
          clip-path: circle(0% at 25% 50%);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  border-radius: 6.5em 6.5em 0 0;
}

.containerP .container2 .games-grid .game .buttons .btn a {
  font-size: clamp(1em, calc(-0.575em + 8.333vw), 2em);
  text-decoration: none;
  color: #f0f0f0;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.containerP .container2 .games-grid .game .buttons .btn a:hover {
  color: #1a1a1ac2;
}

.containerP .footer {
  height: 0.7em;
  width: 100%;
  padding: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e887ba;
}

.containerP .footer span {
  font-family: 'Open Sans', sans-serif;
  color: #f0f0f0;
  font-size: 0.7em;
}

.st3 path {
  -webkit-animation: logoSU 2s linear infinite forwards;
          animation: logoSU 2s linear infinite forwards;
}

@media (max-width: 700px) {
  .containerP .container1 .suGLogo {
    width: 80%;
  }
}
/*# sourceMappingURL=styles_g.css.map */