@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
:root {
  --bar-clr: #8481c6;
  --bar-hover-clr: #595696;
  --hover-clr: #8481c6;
  --bg-clr: #1f1b4d;
  --primary-clr: #f0f0f0;
}

@-webkit-keyframes logoSU {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(24%);
            transform: translateX(24%);
  }
}

@keyframes logoSU {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(24%);
            transform: translateX(24%);
  }
}

@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(1em);
            transform: translateY(1em);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes arrow {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(1em);
            transform: translateY(1em);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  50% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  50% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

@-webkit-keyframes credits1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes credits1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes credits2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes credits2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bar-clr);
  border-radius: 15px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--bar-hover-clr);
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.menuClip {
  position: absolute;
  left: 0;
  top: 0;
}

.menuClip .star {
  -webkit-transform: scale(0) translate(1%, 0);
          transform: scale(0) translate(1%, 0);
}

.header {
  height: 6em;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 50;
}

.header .fa-bars {
  color: var(--primary-clr);
  -webkit-transform: translate(0.9em, 0.9em);
          transform: translate(0.9em, 0.9em);
  font-size: 1.7em;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  position: absolute;
  z-index: 21;
}

.header .fa-bars.active {
  opacity: 0;
  visibility: 0;
}

.header .fa-bars:hover {
  color: var(--hover-clr);
  cursor: pointer;
}

.header .fa-times {
  position: absolute;
  font-size: 1.9em;
  color: #f0f0f0;
  -webkit-transform: translate(0.9em, 0.8em);
          transform: translate(0.9em, 0.8em);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 21;
  opacity: 0;
  visibility: 0;
  pointer-events: none;
}

.header .fa-times.active {
  opacity: 1;
  visibility: 1;
}

.header .fa-times:hover {
  color: var(--hover-clr);
  cursor: pointer;
}

.header .menu {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-clr);
  position: fixed;
  z-index: 20;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-clip-path: url("#clipPath");
          clip-path: url("#clipPath");
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.header .menu ul {
  list-style-type: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .menu ul li a {
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-decoration: none;
  color: #f0f0f0;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  text-transform: uppercase;
}

.header .menu ul li a:hover {
  color: var(--hover-clr);
}

.header .menu ul li a i {
  font-size: 1em;
}

:root {
  scroll-behavior: smooth;
  --bar-clr: #fe74bc;
  --bar-hover-clr: #d3408c;
  --hover-clr: #62158f;
  --bg-clr: #fe74bc;
  --primary-clr: #2e1864;
}

body {
  background-color: #ffbbf9;
  overflow-x: hidden;
}

.spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  background-color: #fe74bc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spinner .spinIcon {
  width: auto;
  height: 20%;
  -webkit-animation: spin 3s ease-out infinite forwards;
          animation: spin 3s ease-out infinite forwards;
}

.containerP {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.containerP .container1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left bottom, left top, from(#ffbbf9), to(#ffbbf900));
  background: linear-gradient(to top, #ffbbf9, #ffbbf900);
}

.containerP .container1 img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.containerP .container1 video {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.containerP .container1 .suELogo {
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 10;
  -webkit-transform: translate(40%, -30%);
          transform: translate(40%, -30%);
}

.containerP .container1 a {
  text-decoration: none;
  position: absolute;
  bottom: 5em;
  -webkit-animation: arrow 2s ease-in-out infinite forwards;
          animation: arrow 2s ease-in-out infinite forwards;
}

.containerP .container1 a .fa-chevron-down {
  font-size: 2.5em;
  color: #f0f0f0;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.containerP .container1 a .fa-chevron-down:hover {
  color: #fe74bc;
  cursor: pointer;
}

.containerP .container2 {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.containerP .container2 h2 {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 1em;
  font-size: clamp(2em, calc(-0.875em + 8.333vw), 4em);
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #180f2c;
}

.containerP .container2 h3 {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
  font-size: clamp(1.5em, calc(-0.500em + 8.333vw), 2em);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #180f2c;
  padding-top: 0.2em;
  border-radius: 1.5em 1.5em 0 0;
}

.containerP .container2 h3.first {
  background-color: #ffbbf9;
}

.containerP .container2 h3.second {
  background-color: #d87eff;
}

.containerP .container2 h3.third {
  color: #f0f0f0;
  background-color: #5e1c8a;
}

.containerP .container2 h3.fourth {
  color: #f0f0f0;
  background-color: #5214aa;
}

.containerP .container2 h3.fifth {
  color: #f0f0f0;
  background-color: #230c4d;
}

.containerP .container2 h3.sixth {
  background-color: #ffbbf9;
}

.containerP .container2 input[type="checkbox"] {
  display: none;
}

.containerP .container2 label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 4em;
  -webkit-transition: height 0.8s ease-in-out;
  transition: height 0.8s ease-in-out;
}

.containerP .container2 label.ls1 .fa-angle-right {
  color: #230c4d;
}

.containerP .container2 label.ls3 {
  background-color: #d87eff;
}

.containerP .container2 label.ls4 {
  background-color: #5e1c8a;
}

.containerP .container2 label.ls5 {
  background-color: #5214aa;
}

.containerP .container2 label.ls6 {
  background-color: #1e010a;
}

.containerP .container2 label.ls6 .fa-angle-right {
  color: #230c4d;
}

.containerP .container2 .fa-angle-right {
  position: absolute;
  top: 1.2em;
  right: 2em;
  color: #f0f0f0;
  font-size: 1.2em;
  z-index: 10;
  -webkit-transition: 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.containerP .container2 input[type="checkbox"]:checked + label > .fa-angle-right {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.containerP .container2 .episodes1-grid {
  background-color: #ffbbf9;
}

.containerP .container2 .episodes2-grid {
  background-color: #d87eff;
}

.containerP .container2 .episodes3-grid {
  background-color: #5e1c8a;
}

.containerP .container2 .episodes4-grid {
  background-color: #5214aa;
}

.containerP .container2 .episodes5-grid {
  background-color: #230c4d;
}

.containerP .container2 .episodes6-grid {
  background-color: #ffbbf9;
}

.containerP .container2 .episodes1-grid {
  min-height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-auto-rows: 12em;
  gap: 2em;
  position: relative;
  padding: 2em 1em;
}

.containerP .container2 .episodes1-grid .episode {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.containerP .container2 .episodes1-grid .episode:hover .thumbnail {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.containerP .container2 .episodes1-grid .episode:hover .name h3 {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.containerP .container2 .episodes1-grid .episode:hover .name span {
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.containerP .container2 .episodes1-grid .episode:hover .buttons {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.containerP .container2 .episodes1-grid .episode.S05E25:hover .name h3 {
  -webkit-transform: translateY(-65%);
          transform: translateY(-65%);
}

.containerP .container2 .episodes1-grid .episode.S05E25:hover .name span {
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
}

.containerP .container2 .episodes1-grid .episode .thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.containerP .container2 .episodes1-grid .episode .thumbnail img {
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.containerP .container2 .episodes1-grid .episode .name {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  color: #f0f0f0;
  background-color: #00000091;
  border-radius: 15px;
}

.containerP .container2 .episodes1-grid .episode .name h3 {
  font-size: 2em;
  font-weight: 800;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: #f0f0f0;
}

.containerP .container2 .episodes1-grid .episode .name span {
  font-size: 1.5em;
  font-weight: 600;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
  color: #f0f0f0;
  text-align: center;
}

.containerP .container2 .episodes1-grid .episode .buttons {
  width: 100%;
  height: 30%;
  border-radius: 0 0 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #db54b3;
  position: absolute;
  z-index: 1;
  bottom: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.containerP .container2 .episodes1-grid .episode .buttons::before {
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
  height: 60%;
  border-right: solid 3px #11111170;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.containerP .container2 .episodes1-grid .episode .buttons .btn-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #7d3a8b;
  -webkit-clip-path: circle(0% at 25% 50%);
          clip-path: circle(0% at 25% 50%);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.containerP .container2 .episodes1-grid .episode .buttons a {
  text-decoration: none;
  color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.containerP .container2 .episodes1-grid .episode .buttons a:hover {
  color: #11111199;
}

.containerP .container2 .episodes1-grid .episode .buttons .btn1 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerP .container2 .episodes1-grid .episode .buttons .btn2 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerP .container2 .episodes2-grid {
  min-height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-auto-rows: 12em;
  gap: 2em;
  position: relative;
  padding: 2em 1em;
}

.containerP .container2 .episodes2-grid .episode {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.containerP .container2 .episodes2-grid .episode:hover .thumbnail {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.containerP .container2 .episodes2-grid .episode:hover .name h3 {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.containerP .container2 .episodes2-grid .episode:hover .name span {
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.containerP .container2 .episodes2-grid .episode:hover .buttons {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.containerP .container2 .episodes2-grid .episode.S05E25:hover .name h3 {
  -webkit-transform: translateY(-65%);
          transform: translateY(-65%);
}

.containerP .container2 .episodes2-grid .episode.S05E25:hover .name span {
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
}

.containerP .container2 .episodes2-grid .episode .thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.containerP .container2 .episodes2-grid .episode .thumbnail img {
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.containerP .container2 .episodes2-grid .episode .name {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  color: #f0f0f0;
  background-color: #00000091;
  border-radius: 15px;
}

.containerP .container2 .episodes2-grid .episode .name h3 {
  font-size: 2em;
  font-weight: 800;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: #f0f0f0;
}

.containerP .container2 .episodes2-grid .episode .name span {
  font-size: 1.5em;
  font-weight: 600;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
  color: #f0f0f0;
  text-align: center;
}

.containerP .container2 .episodes2-grid .episode .buttons {
  width: 100%;
  height: 30%;
  border-radius: 0 0 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #db54b3;
  position: absolute;
  z-index: 1;
  bottom: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.containerP .container2 .episodes2-grid .episode .buttons::before {
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
  height: 60%;
  border-right: solid 3px #11111170;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.containerP .container2 .episodes2-grid .episode .buttons .btn-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #7d3a8b;
  -webkit-clip-path: circle(0% at 25% 50%);
          clip-path: circle(0% at 25% 50%);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.containerP .container2 .episodes2-grid .episode .buttons a {
  text-decoration: none;
  color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.containerP .container2 .episodes2-grid .episode .buttons a:hover {
  color: #11111199;
}

.containerP .container2 .episodes2-grid .episode .buttons .btn1 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerP .container2 .episodes2-grid .episode .buttons .btn2 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerP .container2 .episodes3-grid {
  min-height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-auto-rows: 12em;
  gap: 2em;
  position: relative;
  padding: 2em 1em;
}

.containerP .container2 .episodes3-grid .episode {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.containerP .container2 .episodes3-grid .episode:hover .thumbnail {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.containerP .container2 .episodes3-grid .episode:hover .name h3 {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.containerP .container2 .episodes3-grid .episode:hover .name span {
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.containerP .container2 .episodes3-grid .episode:hover .buttons {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.containerP .container2 .episodes3-grid .episode.S05E25:hover .name h3 {
  -webkit-transform: translateY(-65%);
          transform: translateY(-65%);
}

.containerP .container2 .episodes3-grid .episode.S05E25:hover .name span {
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
}

.containerP .container2 .episodes3-grid .episode .thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.containerP .container2 .episodes3-grid .episode .thumbnail img {
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.containerP .container2 .episodes3-grid .episode .name {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  color: #f0f0f0;
  background-color: #00000091;
  border-radius: 15px;
}

.containerP .container2 .episodes3-grid .episode .name h3 {
  font-size: 2em;
  font-weight: 800;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: #f0f0f0;
}

.containerP .container2 .episodes3-grid .episode .name span {
  font-size: 1.5em;
  font-weight: 600;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
  color: #f0f0f0;
  text-align: center;
}

.containerP .container2 .episodes3-grid .episode .buttons {
  width: 100%;
  height: 30%;
  border-radius: 0 0 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #db54b3;
  position: absolute;
  z-index: 1;
  bottom: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.containerP .container2 .episodes3-grid .episode .buttons::before {
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
  height: 60%;
  border-right: solid 3px #11111170;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.containerP .container2 .episodes3-grid .episode .buttons .btn-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #7d3a8b;
  -webkit-clip-path: circle(0% at 25% 50%);
          clip-path: circle(0% at 25% 50%);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.containerP .container2 .episodes3-grid .episode .buttons a {
  text-decoration: none;
  color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.containerP .container2 .episodes3-grid .episode .buttons a:hover {
  color: #11111199;
}

.containerP .container2 .episodes3-grid .episode .buttons .btn1 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerP .container2 .episodes3-grid .episode .buttons .btn2 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerP .container2 .episodes4-grid {
  min-height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-auto-rows: 12em;
  gap: 2em;
  position: relative;
  padding: 2em 1em;
}

.containerP .container2 .episodes4-grid .episode {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.containerP .container2 .episodes4-grid .episode:hover .thumbnail {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.containerP .container2 .episodes4-grid .episode:hover .name h3 {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.containerP .container2 .episodes4-grid .episode:hover .name span {
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.containerP .container2 .episodes4-grid .episode:hover .buttons {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.containerP .container2 .episodes4-grid .episode.S05E25:hover .name h3 {
  -webkit-transform: translateY(-65%);
          transform: translateY(-65%);
}

.containerP .container2 .episodes4-grid .episode.S05E25:hover .name span {
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
}

.containerP .container2 .episodes4-grid .episode .thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.containerP .container2 .episodes4-grid .episode .thumbnail img {
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.containerP .container2 .episodes4-grid .episode .name {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  color: #f0f0f0;
  background-color: #00000091;
  border-radius: 15px;
}

.containerP .container2 .episodes4-grid .episode .name h3 {
  font-size: 2em;
  font-weight: 800;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: #f0f0f0;
}

.containerP .container2 .episodes4-grid .episode .name span {
  font-size: 1.5em;
  font-weight: 600;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
  color: #f0f0f0;
  text-align: center;
}

.containerP .container2 .episodes4-grid .episode .buttons {
  width: 100%;
  height: 30%;
  border-radius: 0 0 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #db54b3;
  position: absolute;
  z-index: 1;
  bottom: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.containerP .container2 .episodes4-grid .episode .buttons::before {
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
  height: 60%;
  border-right: solid 3px #11111170;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.containerP .container2 .episodes4-grid .episode .buttons .btn-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #7d3a8b;
  -webkit-clip-path: circle(0% at 25% 50%);
          clip-path: circle(0% at 25% 50%);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.containerP .container2 .episodes4-grid .episode .buttons a {
  text-decoration: none;
  color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.containerP .container2 .episodes4-grid .episode .buttons a:hover {
  color: #11111199;
}

.containerP .container2 .episodes4-grid .episode .buttons .btn1 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerP .container2 .episodes4-grid .episode .buttons .btn2 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerP .container2 .episodes5-grid {
  min-height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-auto-rows: 12em;
  gap: 2em;
  position: relative;
  padding: 2em 1em;
}

.containerP .container2 .episodes5-grid .episode {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.containerP .container2 .episodes5-grid .episode:hover .thumbnail {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.containerP .container2 .episodes5-grid .episode:hover .name h3 {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.containerP .container2 .episodes5-grid .episode:hover .name span {
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.containerP .container2 .episodes5-grid .episode:hover .buttons {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.containerP .container2 .episodes5-grid .episode.S05E25:hover .name h3 {
  -webkit-transform: translateY(-65%);
          transform: translateY(-65%);
}

.containerP .container2 .episodes5-grid .episode.S05E25:hover .name span {
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
}

.containerP .container2 .episodes5-grid .episode .thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.containerP .container2 .episodes5-grid .episode .thumbnail img {
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.containerP .container2 .episodes5-grid .episode .name {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  color: #f0f0f0;
  background-color: #00000091;
  border-radius: 15px;
}

.containerP .container2 .episodes5-grid .episode .name h3 {
  font-size: 2em;
  font-weight: 800;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: #f0f0f0;
}

.containerP .container2 .episodes5-grid .episode .name span {
  font-size: 1.5em;
  font-weight: 600;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
  color: #f0f0f0;
  text-align: center;
}

.containerP .container2 .episodes5-grid .episode .buttons {
  width: 100%;
  height: 30%;
  border-radius: 0 0 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #db54b3;
  position: absolute;
  z-index: 1;
  bottom: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.containerP .container2 .episodes5-grid .episode .buttons::before {
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
  height: 60%;
  border-right: solid 3px #11111170;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.containerP .container2 .episodes5-grid .episode .buttons .btn-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #7d3a8b;
  -webkit-clip-path: circle(0% at 25% 50%);
          clip-path: circle(0% at 25% 50%);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.containerP .container2 .episodes5-grid .episode .buttons a {
  text-decoration: none;
  color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.containerP .container2 .episodes5-grid .episode .buttons a:hover {
  color: #11111199;
}

.containerP .container2 .episodes5-grid .episode .buttons .btn1 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerP .container2 .episodes5-grid .episode .buttons .btn2 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerP .container2 .episodes6-grid {
  min-height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-auto-rows: 12em;
  gap: 2em;
  position: relative;
  padding: 2em 1em;
}

.containerP .container2 .episodes6-grid .episode {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.containerP .container2 .episodes6-grid .episode:hover .thumbnail {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.containerP .container2 .episodes6-grid .episode:hover .name h3 {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.containerP .container2 .episodes6-grid .episode:hover .name span {
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.containerP .container2 .episodes6-grid .episode:hover .buttons {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.containerP .container2 .episodes6-grid .episode.S05E25:hover .name h3 {
  -webkit-transform: translateY(-65%);
          transform: translateY(-65%);
}

.containerP .container2 .episodes6-grid .episode.S05E25:hover .name span {
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
}

.containerP .container2 .episodes6-grid .episode .thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.containerP .container2 .episodes6-grid .episode .thumbnail img {
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.containerP .container2 .episodes6-grid .episode .name {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  color: #f0f0f0;
  background-color: #00000091;
  border-radius: 15px;
}

.containerP .container2 .episodes6-grid .episode .name h3 {
  font-size: 2em;
  font-weight: 800;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  color: #f0f0f0;
}

.containerP .container2 .episodes6-grid .episode .name span {
  font-size: 1.5em;
  font-weight: 600;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
  color: #f0f0f0;
  text-align: center;
}

.containerP .container2 .episodes6-grid .episode .buttons {
  width: 100%;
  height: 30%;
  border-radius: 0 0 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #db54b3;
  position: absolute;
  z-index: 1;
  bottom: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.containerP .container2 .episodes6-grid .episode .buttons::before {
  content: '';
  position: absolute;
  left: 0;
  width: 50%;
  height: 60%;
  border-right: solid 3px #11111170;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.containerP .container2 .episodes6-grid .episode .buttons .btn-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #7d3a8b;
  -webkit-clip-path: circle(0% at 25% 50%);
          clip-path: circle(0% at 25% 50%);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.containerP .container2 .episodes6-grid .episode .buttons a {
  text-decoration: none;
  color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.containerP .container2 .episodes6-grid .episode .buttons a:hover {
  color: #11111199;
}

.containerP .container2 .episodes6-grid .episode .buttons .btn1 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerP .container2 .episodes6-grid .episode .buttons .btn2 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerP .movie-grid {
  width: 100%;
  min-height: 110vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  -webkit-box-shadow: 0px 20px 15px -3px #000000ab inset, 0px -20px 15px -3px #000000ab inset;
          box-shadow: 0px 20px 15px -3px #000000ab inset, 0px -20px 15px -3px #000000ab inset;
}

.containerP .movie-grid img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.containerP .movie-grid .movie {
  width: 15em;
  height: 23em;
  position: relative;
  -webkit-box-shadow: 15px 10px 10px #000000ab;
          box-shadow: 15px 10px 10px #000000ab;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  border-radius: 15px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.containerP .movie-grid .movie:hover {
  -webkit-transform: translateY(10%) translateX(15%);
          transform: translateY(10%) translateX(15%);
  -webkit-box-shadow: 25px 10px 10px #000000ab;
          box-shadow: 25px 10px 10px #000000ab;
}

.containerP .movie-grid .movie:hover .buttons-right {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.containerP .movie-grid .movie:hover .buttons {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.containerP .movie-grid .movie .thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  z-index: 10;
}

.containerP .movie-grid .movie .thumbnail img {
  z-index: 10;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.containerP .movie-grid .movie .buttons-right {
  width: 10%;
  height: 100%;
  background-color: #d3206a;
  position: absolute;
  z-index: 1;
  bottom: 0;
  -webkit-transition: 0.2 ease-out;
  transition: 0.2 ease-out;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.containerP .movie-grid .movie .buttons {
  width: 30%;
  height: 100%;
  border-radius: 15px 0 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #d3206a;
  position: absolute;
  z-index: 1;
  bottom: 0;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.containerP .movie-grid .movie .buttons::before {
  content: '';
  position: absolute;
  top: 0;
  width: 60%;
  height: 50%;
  border-bottom: solid 3px #11111170;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.containerP .movie-grid .movie .buttons .btn-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 150%;
  height: 100%;
  z-index: -1;
  background-color: #7d3a8b;
  -webkit-clip-path: circle(0% at 25% 50%);
          clip-path: circle(0% at 25% 50%);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  border-radius: 15px 0 0 15px;
}

.containerP .movie-grid .movie .buttons a {
  text-decoration: none;
  color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.containerP .movie-grid .movie .buttons a:hover {
  color: #11111199;
}

.containerP .movie-grid .movie .buttons .btn1 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerP .movie-grid .movie .buttons .btn2 {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerP .container3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  -webkit-box-shadow: 0px 25px 20px -3px #000000ab inset;
          box-shadow: 0px 25px 20px -3px #000000ab inset;
}

.containerP .container3 video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.containerP .footer {
  height: 0.7em;
  width: 100%;
  padding: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #150730;
}

.containerP .footer span {
  font-family: 'Open Sans', sans-serif;
  color: #f0f0f0;
  font-size: 0.7em;
}

.st4 {
  -webkit-animation: logoSU 2s linear infinite forwards;
          animation: logoSU 2s linear infinite forwards;
}

@media (max-width: 1200px) {
  .containerP .suELogo {
    width: 80% !important;
    -webkit-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
  }
  .containerP video {
    -o-object-position: -10em !important;
       object-position: -10em !important;
  }
}
/*# sourceMappingURL=styles_e.css.map */