@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --bar-clr: #8481c6;
    --bar-hover-clr: #595696;
    --hover-clr: #8481c6;
    --bg-clr: #1f1b4d;
    --primary-clr: #f0f0f0;
}

@keyframes logoSU {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(24%);
    }
}

@keyframes arrow {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1em);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes spin {
    0% {
        transform: rotateY(0);
    }

    50% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(0);
    }
}

@keyframes credits1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes credits2 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes cookies {
    from {
        transform: translateY(-20em);
    }

    to {
        transform: translateY(2em);
    }
}

@keyframes cookies2 {
    to {
        transform: translateY(-20em);
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.5em;

    &-thumb {
        background-color: var(--bar-clr);
        border-radius: 15px;
        transition: 0.2s ease-out;

        &:hover {
            background-color: var(--bar-hover-clr);
        }
    }

    &-track {
        background-color: #f0f0f0;
    }
}

.menuClip {
    position: absolute;
    left: 0;
    top: 0;

    .star {
        transform: scale(0) translate(1%, 0);
        //transform-origin: 50% 50%;
    }
}

.cookies {
    height: 6em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transform: translateY(2em);
    z-index: 50;
    animation: cookies 0.8s cubic-bezier(.8,-.5,.2,1.4) forwards;

    &.active {
        animation: cookies2 0.8s cubic-bezier(.8,-.5,.2,1.4) forwards;
        pointer-events: none;
    }
    
    .saveDialog {
        width: 40%;
        height: 100%;
        background-color: #ffffff;
        box-shadow: 0 10px 0 0 #c0c0c0;
        border-radius: 100vh;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 1em;
        position: relative;
        transition: 0.5s cubic-bezier(.47,1.64,.41,.8);
        justify-content: center;

        .closeDialog {
            width: 4em;
            height: 2em;
            border-radius: 100vh;
            background-color: #ffffff;
            border: none;
            outline: none;
            box-shadow: 0 5px 0 0 #c0c0c0;
            align-self: center;
            right: 0;
            bottom: -1em;
            position: absolute;
            font-size: 1.2em;
            display: grid;
            place-items: center;

            &:hover {
                cursor: pointer;
            }
        }

        .msg1 {
            font-weight: 600;
        }

        .msg2 {
            font-weight: 800;
        }

        .yesnoT {
            width: 10em;
            height: 4em;
            position: absolute;
            bottom: -3em;
            align-self: center;
            border-radius: 100vh;
            padding: 0.5em 1em;
            background-color: #ffffff;
            box-shadow: 0 10px 0 0 #c0c0c0;
            display: flex;
            align-items: center;
            justify-content: center;

            .toggle {
                width: 5em;
                height: 2.5em;
                border-radius: 100vh;
                background-color: #1f1b4d;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-inline: 1em;
                position: relative;
                transition: 0.2s ease-out;

                &:hover {
                    cursor: pointer;
                }

                i {
                    color: #f0f0f0;
                }

                .circle {
                    position: absolute;
                    left: 0.3em;
                    align-self: center;
                    height: 80%;
                    aspect-ratio: 1 / 1;
                    background-color: #f0f0f0;
                    border-radius: 50%;
                    transition: 0.4s cubic-bezier(.47,1.64,.41,.8);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .fa-music {
                        color: #494298;
                    }
                }

                &.active {
                    background-color: #1ea234;

                    .circle {
                        left: initial;
                        transform: translateX(87%);

                        .fa-music {
                            color: #1ea234;
                        }
                    }
                }
            }
        }

        .yesno {
            display: none;
        }
    }
}

.header {
    height: 6em;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 50;
    pointer-events: none;

    .fa-bars {
        color: var(--primary-clr);
        transform: translate(0.9em, 0.9em);
        font-size: 1.7em;
        transition: 0.2s ease-out;
        position: absolute;
        z-index: 21;
        pointer-events: auto;

        &.active {
            opacity: 0;
            visibility: 0;
        }

        &:hover {
            color: var(--hover-clr);
            cursor: pointer;
        }
    }

    .fa-times {
        position: absolute;
        font-size: 1.9em;
        color: #f0f0f0;
        transform: translate(0.9em, 0.8em);
        transition: 0.2s ease-out;
        z-index: 21;
        opacity: 0;
        visibility: 0;
        pointer-events: none;

        &.active {
            opacity: 1;
            visibility: 1;
        }

        &:hover {
            color: var(--hover-clr);
            cursor: pointer;
        }
    }

    .menu {
        width: 100%;
        height: 100vh;
        background-color: var(--bg-clr);
        position: fixed;
        z-index: 20;
        transition: 0.5s ease-out;
        clip-path: url('#clipPath');
        display: grid;
        place-items: center;
        pointer-events: auto;

        ul {
            list-style-type: none;
            text-decoration: none;
            display: flex;
            gap: 1em;
            flex-direction: column;
            pointer-events: auto;

            li {
                a {
                    font-size: 1.5em;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 800;
                    text-decoration: none;
                    color: #f0f0f0;
                    transition: 0.2s ease-out;
                    text-transform: uppercase;
                    pointer-events: auto;
                    
                    &:hover {
                        color: var(--hover-clr);
                    }

                    i {
                        font-size: 1em;
                    }
                }
            }
        }

        .toggleC {
            width: 100%;
            height: 6em;
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .yesnoM {
                display: none;
            }

            .fa-sync-alt {
                position: absolute;
                font-size: 1.2em;
                color: #f0f0f0;
                transform: translateX(3.5em) scale(0) rotate(-360deg);
                transform-origin: center;
                transition: transform 0.5s cubic-bezier(.47,1.64,.41,.8), color 0.2s ease-out;

                &.active {
                    transform: translateX(3.5em) scale(1) rotate(0);
                }

                &:hover {
                    color: var(--hover-clr);
                    cursor: pointer;
                }
            }

            .toggleM {
                width: 5em;
                height: 2.5em;
                border-radius: 100vh;
                background-color: var(--hover-clr);
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-inline: 1em;
                position: relative;
                transition: 0.2s ease-out;

                &.active {
                    background-color: #1ea234;

                    .circle {
                        left: initial;
                        transform: translateX(87%);
                    }
                }
    
                &:hover {
                    cursor: pointer;
                }
    
                i {
                    color: #f0f0f0;
                }

                .fa-timess {
                    &::before {
                        content: '\f00d';
                    }
                }
    
                .circle {
                    position: absolute;
                    left: 0.3em;
                    align-self: center;
                    height: 80%;
                    aspect-ratio: 1 / 1;
                    background-color: #f0f0f0;
                    border-radius: 50%;
                    transition: 0.4s cubic-bezier(.47,1.64,.41,.8);
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .fa-music {
                        color: var(--hover-clr);
                    }
                }
    
                &.active {
                    background-color: #1ea234;
    
                    .circle {
                        left: initial;
                        transform: translateX(87%);

                        .fa-music {
                            color: #1ea234;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .cookies {
        .saveDialog {
            width: 80%;
        }
    }
}