@import 'header';

:root {
    --bg-clr: #9090c9;
    --hover-clr: #0367a0;
}

body {
    overflow-x: hidden;
}

.spinner {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color: #9090c9;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-out;

    .spinIcon {
        width: auto;
        height: 20%;
        animation: spin 3s ease-out infinite forwards;
    }
}

.containerP {
    width: 100%;
    height: max-content;
    overflow-x: hidden;
    overflow-y: auto;

    .container1 {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        //background: linear-gradient(to top, rgb(26, 17, 51), #ffffff00);

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
        }

        video {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: -1;
        }

        .suCrLogo {
            width: 50%;
            height: auto;
            position: absolute;
            z-index: 10;
            transform: translate(40%, -10%);
        }
    }

    .footer {
        height: 0.7em;
        width: 100%;
        padding: 0.8em;
        display: flex;
        align-items: center;
        background-color: transparent;
        position: absolute;
        bottom: 0;
        
        span {
            font-family: 'Open Sans', sans-serif;
            color: #f0f0f0;
            font-size: 0.7em;
        }
    } 
}

#PhizzyLink_5, #StevenWiki_7 {
    opacity: 0;
    visibility: hidden;

}

#SugRocksMusic_9 {
    opacity: 1;
    visibility: visible;
}

#SugRocksMusic_9, #PhizzyLink_5, #StevenWiki_7 {
    transition: 0.5s ease-out;
}

.st4 {
    animation: logoSU 2s linear infinite forwards;
}

@media (max-width: 1000px) {
    .containerP {
        .suCrLogo {
            width: 80% !important;
            transform: translate(0, 0) !important;
        }

        video {
            object-position: -10em !important;
        }
    }
}