@import 'header';
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600;700;800&display=swap');

:root {
    scroll-behavior: smooth;
    
    --bg-clr: #7659d7;
    --hover-clr: #562181;
}

@keyframes logoSU2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(34%);
    }
}

.spinner {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color: #7659d7;
    display: flex;
    justify-content: center;
    align-items: center;

    .spinIcon {
        width: auto;
        height: 20%;
        animation: spin 3s ease-out infinite forwards;
    }
}

.containerP {
    width: 100%;
    height: max-content;
    overflow-x: hidden;
    overflow-y: auto;

    .container1 {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
        .suChLogo {
            width: 50%;
            height: auto;
            position: absolute;
            z-index: 10;
            transform: translate(-35%, 0);
        }

        a {
            position: absolute;
            bottom: 5em;
            animation: arrow 2s ease-in-out infinite forwards;

            .fa-chevron-down {
                font-size: 2.5em;
                color: #f0f0f0;
                transition: 0.2s ease-out;
    
                &:hover {
                    color: #7659d7;
                    cursor: pointer;
                }
            }
        }
    }

    .container2 {
        width: 100%;
        min-height: 100vh;
        padding: 1em 0 0 0;
        display: flex;
        flex-direction: column;
        background-color: #7659d7;
        box-shadow: 0 20px 20px -10px #10101070 inset;
        
        h2 {
            width: 100%;
            height: max-content;
            padding-top: 0.5em;
            font-size: clamp(2em, calc(-0.875em + 8.333vw), 4em);
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            font-weight: 800;
            color: #f0f0f0;
        }

        .char-scroll {
            width: 100%;
            flex-grow: 1;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: hidden;
            overflow-y: hidden;
            position: relative;

            .btn-scroll {
                position: absolute;
                width: 100%;
                height: 10%;
                bottom: 0;
                left: 0;
                z-index: 30;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1.5em;

                a {
                    width: 0.5em;
                    height: 0.5em;
                    background-color: transparent;
                    border-radius: 50vh;
                    background-color: #f0f0f0;
                    transition: 0.2s ease-out;
                    text-decoration: none;
                    outline: none;

                    &:hover {
                        cursor: pointer;
                        background-color: #562181;
                    }

                    &.active {
                        width: 1em;
                        height: 1em;
                    }
                }
            }

            .char-container {
                width: 100%;
                flex-grow: 1;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex: 0 0 auto;
                position: relative;
                transition: 1s ease-in-out;

                .bg {
                    width: 100%;
                    height: 100%;
                    position: absolute;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        opacity: 0.5;
                    }
                }

                .gradient {
                    z-index: 9;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to bottom, #7659d7, #7659d700);
                    position: absolute;
                }

                .icon {
                    width: 20%;
                    height: auto;
                    aspect-ratio: 1 / 1;
                    z-index: 10;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        filter: drop-shadow(5px 10px 0 #10101038);
                    }
                }

                .tdWrapper {
                    width: 70%;
                    height: max-content;
                    font-family: 'Dosis', sans-serif;
                    font-weight: 800;
                    z-index: 10;
                    display: flex;
                    flex-direction: column;

                    .title {
                        width: max-content;
                        padding: 2% 5%;
                        height: 20%;
                        font-size: 2.2em;
                        color: #7659d7;
                        text-transform: uppercase;
                        background-color: #f0f0f0;
                        border-radius: 100vh;
                        box-shadow: 0 10px 0 0 #c0c0c0;
                        transform: translate(5%, 30%);
                        text-align: center;
                        z-index: 15;
                    }
    
                    .desc {
                        width: 100%;
                        height: 80%;
                        padding-top: 0.5em;
                        font-size: 1.5em;
                        color: #6a86ff;
                        background-color: #f0f0f0;
                        border-radius: 100vh;
                        box-shadow: 0 10px 0 0 #c0c0c0;
                        padding: 3% 10%;
                        z-index: 20;
                    }
                }
            }
        }
    }

    .footer {
        height: 0.7em;
        width: 100%;
        padding: 0.8em;
        display: flex;
        align-items: center;
        background-color: #7659d7;
        
        span {
            font-family: 'Open Sans', sans-serif;
            color: #f0f0f0;
            font-size: 0.7em;
        }
    }
}

.st3 path {
    animation: logoSU2 2s linear infinite forwards;
}

@media (max-width: 1100px) {
    .containerP {
        .container2 {
            .char-scroll {
                .char-container {
                    .icon {
                        display: none;
                    }

                    .tdWrapper {
                        height: 80%;
                        width: 90%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        background-color: #f0f0f0;
                        border-radius: 10vh;
                        box-shadow: 0 10px 0 0 #c0c0c0, 0 -20px 10px 0 #f0f0f0e3 inset;
                        overflow-y: scroll;
                        padding: 2% 5%;

                        &::-webkit-scrollbar {
                            display: none;
                        }

                        .title {
                            padding: none;
                            background-color: transparent;
                            border-radius: none;
                            box-shadow: none;
                            width: 80%;
                            height: max-content;
                            transform: translate(0, 0);
                        }

                        .desc {
                            padding: none;
                            background-color: transparent;
                            border-radius: none;
                            box-shadow: none;
                            margin-bottom: 1em;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .containerP {
        .container1 {
            .suChLogo {
                width: 80%;
                transform: translate(0, 0);
            }
        }
    }
}